* {
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font: inherit;
  transition: all 100ms;
}


.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: 300;

  color: white;
  margin: 0;
  background-color: #000;
  height: 100vh;
}

.header {
  padding: 1em;
  font-size: 1.2rem;
  width: fit-content;
  margin: 0 auto;
}

.emphasis {
  color: #0f0;
  text-shadow: 0 0 25px #0f0;
  font-weight: bold;
}
.warning {
  color: #f00;
  font-weight: bold;
}

.generate-menu {
  display: flex;
  justify-content: center;
}

.generator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #0f0;
  padding: 1em 2em;
}

.generated-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 1px solid #0f0;
  padding: 1em 2em;
  min-width: 200px;
}

.filters {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.filter-btn {
  width: 150px;
  background-color: #000;
  padding: 8px;
}

.btn {
  background-color: #000;
  border: 2px solid #000;
  font-size: 1.1rem;
  padding: 0.2em 1em;
}

.btn-generate {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0f0;
  background-color: #000;
  border: 2px solid #0f0;
  padding: 6px;
}

.btn-generate:hover {
  color: #000;
  background-color: #0f0;
  box-shadow: 0 0 25px #0f0;
}

.btn-generate:active {
  color: #0f0;
  background-color: #000;
}

.increment-btn {
  background: #000;
  color: #0f0;
  border: 3px solid #0f0;
  padding: 4px 16px;
  font-size: 1.6rem;
  width: 50px;
}

.decrement-btn {
  background: #000;
  color: #f00;
  border: 3px solid #f00;
  padding: 4px 16px;
  font-size: 1.6rem;
  width: 50px;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.counter-val {
  font-weight: 400;
  font-size: 3rem;

}
.counter-screen {
  background-color: black;
  color: #f00;
}

.counter-info {
  background-color: black;
  color: #fff;
}
